*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1490px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
}

body {
  // min-width: 1920px;
  zoom: 80%;
  overflow-x: hidden;
  font-family: 'TT Norms';
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #443A5B;
  letter-spacing: 1px;
  background: linear-gradient(81.6deg, #0A051A -4.33%, rgba(20, 11, 47, 0.98) 64.72%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.info__wrapper {
  padding-top: 150px;
  background: linear-gradient(180deg, #0E0723 0%, #0A051A 100%);
}

.banner__wrapper {
  padding-top: 100px;
  background: linear-gradient(180deg, #080318 71.24%, #0B061D 91.22%, #0D0720 105.67%);
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.subtitle {
  font-weight: 700;
  font-size: 31px;
  line-height: 40px;
  color: #FFFFFF;
}

.logo {
  display: flex;
  align-items: center;
  img {
    margin-right: 30px;
  }
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #FFFFFF;
}

.icon-tg {
  path {
    fill: #605581;
    transition: .3s;
  }
}
.icon-tg:hover{
  path {
    fill: #fff;
  }
}



.animated-image {
  animation-duration: 2s;
  animation-name: animateImage;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  &.bottom {
    animation-duration: 1.5s;
  }
  &.first {
    animation-duration: 1s;
  }
  &.banner {
    animation-duration: 2s;
    animation-name: animateImage2;
  }

  &.one {
    animation-duration: 2.7s;
  }
  &.two {
    animation-duration: 2.8s;
  }
  &.three {
    animation-duration: 2.9s;
  }
  &.four {
    animation-duration: 3s;
  }
  &.five {
    animation-duration: 3.1s;
  }
  &.six {
    animation-duration: 3.3s;
  }
}

@keyframes animateImage {
  from {
    margin: 0;
  }
  to {
    margin-top: 20px;
  }
}
@keyframes animateImage2 {
  from {
    top: 50%;
  }
  to {
    top: 40%;
  }
}