@import "fonts";
@import "vars";
@import "mixins";
@import "reset";
@import "global";
@import "libs/normalize";

.header {
  padding: 60px 0;
  padding-bottom: 107px;
  background: linear-gradient(81.6deg, #0A051A -4.33%, rgba(20, 11, 47, 0.98) 64.72%);
  overflow: hidden;
  &__inner {
    position: relative;
  }
  &__image {
    position: absolute;
    right: 0;
    top: -90px;
    img {
      width: 100%;
    }
  }
  &__info {
    max-width: 625px;
    width: 100%;
    position: relative;
    z-index: 5;
    &::after {
      @extend %icon;
      background-image: url('../images/content/dog.png');
      right: 20px;
      transform: translateY(330px) rotate(40deg);
      filter: blur(4px);
      width: 170px;
      height: 170px;
      background-size: cover;
    }
  }
  &__info-navlink {
    cursor: pointer;
  }
  
  &__info-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 178px;
  }
  &__info-item {
    color: #605581;
    a {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__info-item + .header__info-item {
    margin-left: 50px;
  }

  &__info-banner {
    width: 355px;
    background: #150E2A;
    border-radius: 11px;
    min-height: 87px;
    padding-right: 33px;
    padding-left: 123px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    position: relative;
    img {
      position: absolute;
      left: -25px;
      top: -6px;
    }
    &::before {
      @extend %icon;
      background-image: url('../images/content/dog.png');
      left: -90px;
      width: 70px;
      height: 70px;
      background-size: contain;
    }
    &::after {
      @extend %icon;
      background-image: url('../images/content/dog.png');
      right: -100px;
      top: -30px;
      width: 70px;
      height: 70px;
      background-size: contain;
      filter: blur(3px);
      transform: rotate(40deg);
    }
  }

  &__banner-text {
    font-weight: 500;
    font-size: 19px;
    line-height: 11px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
  }

  &__info-title {
    color: #fff;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    span {
      text-shadow: 1px 0 1px #fff, 
      0 1px 1px #fff, 
      -1px 0 1px #fff, 
      0 -1px 1px #fff;
      color: #0A051A;
    }
  }

  &__info-text {
    color: #605581;
    margin-bottom: 55px;
  }

  &__info-link {
    padding: 20px 32px;
    border: 1px solid rgba(246, 225, 247, 0.1);
    border-radius: 9px;
    font-weight: 500;
    font-size: 23px;
    line-height: 41px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    text-align: center;

    &.pink-border {
      position: relative;
      border-radius: 9px;
      background: #0A051A;
      text-align: center;
      &::before {
        content: "";
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: linear-gradient(90deg, #F835FF, #3f0041);
        border-radius: 9px;
        z-index: -1;
      }
    }
    &.no-border {
      background-color: #150E2B;
      border-color: #150E2B;
    }
  }
  &__info-box {
    margin-bottom: 112px;
  }
  &__info-link + .header__info-link {
    margin-left: 40px;
  }

  &__info-arrow {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    border: 1px solid rgba(246, 225, 247, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.info {
  padding-bottom: 132px;
  border: 1px solid #0a051a;
  
  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  &__item {
    max-width: 460px;
    width: 100%;
    position: relative;
    padding-top: 255px;
    margin: 0 15px;
  }
  &__item-image {
    position: absolute;
    top: 0px;
  }
  &__item:nth-child(2) .info__item-image {
    top: -20px;
  }
  &__item-wrapper {
    background: linear-gradient(180deg, #110B28 -25.32%, rgba(17, 10, 42, 0) 143.62%);
    border-radius: 23px;
    padding: 54px 52px;
    padding-bottom: 59px;
  }
  &__item-title {
    font-weight: 700;
    margin-bottom: 37px;
    font-size: 31px;
    line-height: 37px;
    color: #FFFFFF;
    display: flex;
    img {
      padding-left: 20px;
      object-fit: contain;
    }
  }
}

.testimonials {
  padding-top: 137px;
  padding-bottom: 125px;
  &__inner {
    display: flex;
    margin-bottom: 160px;
  }
  &__box-item {
    padding: 48px 52px;
    background: linear-gradient(180deg, #110B28 -25.32%, rgba(17, 10, 42, 0) 143.62%);
    border-radius: 23px;
    width: 460px;
  }
  &__box {
    margin-bottom: 30px;
  }
  &__col {
    margin-right: 40px;
  }
  &__box-item.first {
    margin: 96px 0 70px;
    position: relative;
    &::before {
      @extend %icon;
      background-image: url('../images/icons/arrow.svg');
      top: -45px;
      right: -50px;
      transform: none;
      width: 110px;
      height: 110px;
      background-size: contain;
    }
    &::after {
      @extend %icon;
      background-image: url('../images/icons/arrow.svg');
      width: 110px;
      height: 110px;
      background-size: contain;
      transform: rotate(230deg) translateY(-170px);
      right: -190px;
    }
  }
  &__box-title {
    max-width: 448px;
    img {
      margin-left: 20px;
      display: inline-block;
      margin-bottom: -8px;
    }
  }
  
  &__box-item.top {
    margin-top: -30px;
    margin-bottom: 43px;
  }
  &__box-item.bottom {
    margin-top: 56px;
  }
  
  &__box-item .testimonials__box-title {
    margin-bottom: 42px;
  }
  
  &__box {
    display: flex;
  }
  
  &__text {
    margin-top: -50px;
  }
  
  &__text-title {
    font-size: 115px;
    line-height: 136px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 49px;

    span {
      font-size: 25px;
      line-height: 30px;
      color: #F835FF;
      font-weight: 400;
      margin-left: 34px;
    }
  }
  
  &__text-item {
    background: #150E2A;
    border-radius: 11px;
    margin-bottom: 30px;
    padding: 17px 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    padding-left: 124px;
    position: relative;
    min-height: 87px;
    width: 310px;
    display: flex;
    align-items: center;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
    &.last {
      padding: 25px 20px;
      padding-left: 124px;
    }
  }
  
  &__button {
    display: flex;
    justify-content: center;
    a {
      padding: 20px 32px;
      background-color: #150E2B;
      border-radius: 9px;
      font-weight: 500;
      font-size: 23px;
      line-height: 41px;
      letter-spacing: -0.005em;
      color: #FFFFFF;
      white-space: nowrap
    }
  }
}

.banner {
  margin-bottom: 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    max-width: 430px;
    width: 50%;
  }
  &__info-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    text-align: center;
  }
  &__info-text {
    font-weight: normal;
    font-size: 29px;
    line-height: 39px;
    color: #4A4268;
    text-align: center;
  }
}

.slider {
  margin-bottom: 140px;
  overflow: hidden;
  &__mobile {
    display: none;
  }
  &__line {
    padding: 62px 0;
    position: relative;
  }
  &__line-activebar {
    background: linear-gradient(270deg, #F835FF 41.37%, rgba(248, 53, 255, 0) 100%);
    height: 6px;
    width: 50%;
    margin-bottom: -6px;
    z-index: 2;
    position: relative;
  }

  &__line-item {
    width: 33px;
    height: 33px;
    background-color: #5D4074;
    border-radius: 50%;
    border: 10px solid #301D42;
    position: absolute;
    top: 50%;
    // transform: translateY(-50%);
    z-index: 10;
    &:nth-child(odd)::before {
      content: "";
      position: absolute;
      width: 3px;
      top: -50px;
      right: 50%;
      height: 31px;
      background-color: #382D5B;
    }
    &:nth-child(even)::before {
      content: "";
      position: absolute;
      width: 3px;
      bottom: -50px;
      right: 50%;
      height: 31px;
      background-color: #382D5B;
    }
  }
  &__line-item.checked {
    width: 33px;
    height: 33px;
    background-color: #F835FF;
    border-radius: 50%;
    border: 10px solid #D519DD;
    box-shadow: 0px 4px 72px 3px #F835FF;
    &::before {
      background-color: #F735FF;
    }
  }
  &__line-item.active {
    width: 33px;
    height: 33px;
    background-color: #fff;
    border-radius: 50%;
    border: 12px solid #D519DD;
    box-shadow: 0px 0px 0px 3px rgba(139, 27, 143, 0.87);
    position: relative;
    z-index: 10;
    transform: translateY(18px);
    &::before {
      background-color: #fff;
    }
  }
  
  &__line-bar {
    height: 6px;
    width: 100%;
    background: linear-gradient(90deg, #070216 -0.89%, #2B1449 44.99%, #0D081F 91.64%, rgba(13, 8, 31, 0) 101.75%);
  }
  &__item {
    margin-top: 30px;
    margin: 0 15px;
    padding: 43px;
    padding-bottom: 36px;
    border-radius: 23px;
    display: inline-block;
    background-color: transparent;
    border: 2px solid #1B1431;
    &.checked {
      border: 2px solid transparent;
      background: linear-gradient(180deg, #110B28 -25.32%, rgba(15, 10, 33, 0.3) 143.62%);
    }
    &.active {
      background: linear-gradient(180deg, #F835FF -25.32%, #780F7C 143.62%);
      color: #fff;
    }
  }

  &__item-date.active {
    padding-left: 55px;
  }
  &__item-title {
    padding-left: 55px;
    position: relative;
    margin-bottom: 20px;
    span {
      color: #FFBF1A;
    }
    img {
      width: 28px;
      height: 28px;
      left: 0;
      top: 5px;
      position: absolute;
    }
  }
}

.team {
  margin-bottom: 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    background: linear-gradient(180deg, #110B28 -25.32%, rgba(17, 10, 42, 0) 143.62%);
    padding: 39px 50px;
    border-radius: 23px;
    max-width: 460px;
    width: 100%;
    position: relative;
    padding-top: 260px;
    margin-top: 200px;
    &.active {
      margin-top: 70px;
    }
  }
  &__card-image {
    margin-top: -60px;
    position: absolute;
    top: 0px;
    &.first {
      margin-top: -30px;
    }
  }
  &__card-title {
    margin-bottom: 8px;
    padding-top: 40px;
  }
}

.footer {
  margin-top: 40px;
  padding-bottom: 50px;
  .logo {
    margin: 0 auto;
    margin-bottom: 33px;
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__nav-link + .footer__nav-link {
    margin-left: 50px;
  }
}

// @import "media";